{% extends "chinh/layout/layout1.html" %}
{% block title %}<title>{{tit}}</title> {% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                <li class="nav-item">
                    <button id="add_csv" class="btn btn-primary" href="#">Thêm bằng file csv</button>
                </li>
                <li class="nav-item">
                    <button id="add_one" class="btn btn-primary" href="#">Thêm bằng form</button>
                </li>

            </ul>

        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent2">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                <li class="nav-item">
                    <a href="/ad">Trang chủ </a>
                </li>
                <li class="nav-item">
                    <a href="/ad/ai_data/data">> Data</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<script>
    // status
    let st = 0;
</script>
<table id="tbl-show" class="table">
    <tr>
        <th>Id</th>
        <th>Câu</th>
        <th>Loại</th>
        <th>Ngày cập nhật</th>
        <th>Ngày tạo</th>
    </tr>

    {% for i in cau %}
    <tr>
        <td>{{i.id}}</td>
        <td>{{i.data}}</td>
        <td>{{i.lb}}</td>
        <td>{{i.upd}}</td>
        <td>{{i.cr}}</td>
    </tr>
    {% endfor %}

</table>
<div id="add_csv_form">
    <!-- form add csv -->
    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="kieu" value="file">
        <!-- lưu ý nhỏ -->
        <h3>Lưu ý</h3>
        <ol>
            <li>file phải có 2 trường là problem và label code</li>
        </ol>
        <table class="table">
            <!-- gửi file -->
            <tr>
                <th><label for="f">Gửi file</label></th>
                <td>
                    <input type="file" name="f" id="f">

                </td>
                <!-- thông báo khi sai -->
                {% if mess %}
            <tr>
                <td colspan="2">
                    <div>{{mess}}</div>
                </td>
            </tr>

            <script>
                // ẩn bảng, hiện from thêm
                st = 1;

            </script>
            {% endif %}
            </tr>
            <tr>
                <!-- nút cơ bản -->
                <td colspan="2">

                    <button type="submit">Lưu</button>
                    <button type="reset">Reset</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<div id="add_one_form">
    <!-- form add csv -->
    <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="kieu" value="one">
        <table class="table">
            <tr>
                <th><label for="loai">Loại câu</label></th>
                <td>
                    <select name="loai" id="loai">
                        {% if label%}
                        {% for i in label %}
                        <option value="{{i.value}}">{{ i.nm }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </td>
            </tr>
            <!-- câu -->
            <tr>
                <th><label for="c">Câu</label></th>
                <td>
                    <input type="text" name="cau" id="cau">
                </td>
                <!-- thông báo khi sai -->
                {% if mess %}
            <tr>
                <td colspan="2">
                    <div>{{mess}}</div>
                </td>
            </tr>
            <script>
                // ẩn bảng, hiện from thêm
                if (st != 1 && st != 0) {
                    st = 2;
                }



            </script>
            {% endif %}
            </tr>

            <tr>
                <!-- nút cơ bản -->
                <td colspan="2">
                    <button type="submit">Lưu</button>
                    <button type="reset">Reset</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<script>
    // nếu status == 0 thì ẩn form
    if (st == 0) {
        show_hide([], ["#add_one_form", "#add_csv_form"])
    }
    if (st == 1) {
        show_hide(["#add_csv_form"], ["#add_one_form", "#tbl-show"])
    }
    if (st == 2) {
        show_hide(["#add_one_form"], ["#add_csv_form", "#tbl-show"])
    }
    // nếu ấn nút thêm sẽ ẩn bảng
    $("#add_csv").click(function (ev) {
        show_hide(["#add_csv_form"], ["#add_one_form", "#tbl-show"])
    })
    $("#add_one").click(function (ev) {
        show_hide(["#add_one_form"], ["#add_csv_form", "#tbl-show"])
    })




</script>
{% endblock %}